@mixin small{
  @media all and (min-width:701px) and (max-width:900px){
    @content;
}
 }

 @mixin medium{
   @media all and (min-width:901px) and (max-width:1400px){
     @content;
 }
  }

  @mixin large{
    @media all and (min-width:1401px){
      @content;
  }
   }
@include small{
   header{
          width: 700px;
          @include medium {width:900px;}
            @include large {width:1400px;}
          margin: 0 auto;
          min-height: 8rem;

          h1{
          width: 100%;
          color: $color-dark-brown;
          @include medium { color: $color-dark-blue;}
      }
      :before,
              :after{
             width:230px;
             @include medium {width:450px;}
               @include large {width:300px;}
         }
               h1 i.fa-lg{
             display:inline;
             color: $color-dark-brown;
             vertical-align:baseline;
             float:none;
             font-size: 4rem;
             line-height: 6.3968rem;
         }
               h1 i.fa-lg ~ span{
             float: none;
             letter-spacing: 0.25rem;
             font-size: 3.998rem;

             text-align: left;
         }
         nav{
      position: static;
      clear:both;
      width: 100%;
      padding: 0;
  }
        nav>ul>li{
      width:20%;
      float: left;
      @include medium {background-color: $color-white;}
        @include large {background-color: $color-white;}
  }
       nav>ul>li>a{
      font-size: 1rem;
      line-height: 2rem;
      min-height: 6rem;
      border:none;
      border-left:1px solid $color-light-grey;
      padding:1.0rem;
      background-color: $color-white;
  }
        nav>ul>li>a:last-child{
      border-right:1px solid $color-light-grey;
  }
  @include medium {   nav>ul>li:first-child a{
        border-left:none;
    }
  }
    @include large {   nav>ul>li:first-child a{
        border-left:none;
    }
  }
  }
}
@include large { footer
       { .fa-circle{
        color: $color-med-blue;
    }

        h4[lang=en]{
       display:block;
    }
        h4[lang=de],
         h4[lang=ar],
         h4[lang=ru]{
        display:none;
    }
  }

}
@include large {
  .col-3{
        float:left;
        width: 30%;
        margin-left: 5%;
    }
    .col-3:first-child{
        margin-left: 0;
    }
.col-4{
     width:22%;
     margin-left: 4%;
     float:left;
 }
 .col-4:first-child{
     margin-left: 0;
 }
 section.content1 h3{
       font-size: 2.827rem;
       font-weight: 100;

   &.content1 h3 .fa-2x{
       font-size: 2.827rem;
       padding-right: 1rem;
       vertical-align: middle;
   }
 }

   section.content2 h4{
       font-size: 1.999rem;

   &.content2 li{
       font-size: 1.999rem;
   }
   &.content2 p{
       font-size: 1.414rem;
       font-weight: 400;
   }
 }

}
@include medium { .col-3{
        float:left;
        width: 30%;
        margin-left: 5%;
    }
    .col-3:first-child{
        margin-left: 0;
    }
    .col-4{
        width:22%;
        margin-left: 4%;
        float:left;
    }
    .col-4:first-child{
        margin-left: 0;
    }
    section
          {

            &.content1 h3{
          font-size: 1.999rem;
          font-weight: 100;
      }
          &.content1 h3 .fa-2x{
          font-size: 1.999rem;
          padding-right: 1rem;
      }
    }

      section
      {

      &.content2 h4{
          font-size: 1.414rem;
      }
      &.content2 li{
          font-size: 1.414rem;
      }
      &.content2 p{
          font-size: 1rem;
          font-weight: 400;
      }
          }

}
